.po_items_ho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.po_item {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Align children to the top */
    align-items: center; /* Center items horizontally */
    flex: 0 0 calc(48% - 1rem); /* Adjust width to allow space for margin and maintain 2 items per row */
    box-sizing: border-box;
    margin: 1.8rem 0.4rem; /* Add margin to create space between items */
    position: relative;
    padding: 6px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s ease;
    font-size: 0;
    min-height: 300px;
    border-radius: 10px;
}

.po_item img {
    max-width: 20%;
    
}

.po_item .content {
    height: 0;
    width: 0; 
    z-index: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.po_item .content {
    
    font-size: 15px;
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
    margin-right: 20px;
}

.po_item .content a:hover {
    text-decoration: none;
    
}


@media screen and (max-width: 1000px) {
    .po_item {
        flex: 0 0 100%; /* Change to a single column when screen size is less than 1000px */
    }
    
    .po_item img {
        border-radius: 10px; /* Remove left corner rounding for smaller screens */
    }
}

